/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
button, hr, input {
    overflow: visible
}

audio, canvas, progress, video {
    display: inline-block
}

progress, sub, sup {
    vertical-align: baseline
}

body, html {
    height: 100%
}

html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section {
    display: block
}

h1 {
    font-size: 2em
}

figure {
    margin: 1em 2.5rem
}

hr {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0
}

code, kbd, pre, samp {
    font-family: monospace, monospace;
    font-size: 1em
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

abbr[title] {
    border-bottom: none;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

b, strong {
    font-weight: bolder
}

dfn {
    font-style: italic
}

mark {
    background-color: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

audio:not([controls]) {
    display: none;
    height: 0
}

img {
    border-style: none
}

svg:not(:root) {
    overflow: hidden
}

button, input, optgroup, select, textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button, select {
    text-transform: none
}

.blocks-block__h3, .content__h1--404 {
    text-transform: uppercase
}

[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
    outline: ButtonText dotted .0625rem
}

fieldset {
    padding: .35em .75em .625em
}

legend {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

textarea {
    overflow: auto;
    resize: none
}

[type=checkbox], [type=radio] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -.125rem
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

img, picture {
    line-height: 0
}

.header-menu__link, .header-panel__link, body {
    font-family: "Halcom-Book", sans-serif
}

.content__h1, .content__h1 em, .header-menu__link {
    font-weight: 400
}

.content-text, .content__h1 {
    font-style: normal
}

summary {
    display: list-item
}

[hidden], template {
    display: none
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0
}

:-moz-placeholder, :-ms-input-placeholder, ::-moz-placeholder, ::-webkit-input-placeholder {
    opacity: 1;
    color: #8f8c8c
}

:after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

html {
    font-size: 1vw
}

body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow-x: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 20rem;
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-size: 1.125rem;
    line-height: 1.5
}

body input:focus:required:invalid, body input:required:valid, body textarea:focus:required:invalid, body textarea:required:valid {
    color: #8f8c8c
}

.content {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-flex-basis: auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    width: .0625rem;
    height: .0625rem;
    margin: -.0625rem;
    padding: 0;
    border: 0
}

img {
    width: 100%;
    height: auto
}

h1, h2, h3, h4, h5, h6, li, p, ul {
    margin: 0;
    padding: 0
}

picture {
    display: block
}

.golden {
    fill: #ffc000 !important
}

.pink {
    fill: #f99 !important
}

.mobile-menu {
    position: relative;
    width: 45PX;
    height: 28PX;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
    -webkit-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    z-index: 100
}

.mobile-menu span {
    position: absolute;
    display: block;
    width: 50%;
    height: 2PX;
    -webkit-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
    background: #000
}

.mobile-menu.open span {
    width: 60%
}

.mobile-menu span:nth-child(even) {
    left: 50%;
    -webkit-border-radius: 0 9PX 9PX 0;
    border-radius: 0 9PX 9PX 0
}

.mobile-menu span:nth-child(odd) {
    left: 0;
    -webkit-border-radius: 9PX 0 0 9PX;
    border-radius: 9PX 0 0 9PX
}

.mobile-menu span:nth-child(1), .mobile-menu span:nth-child(2) {
    top: .0625rem
}

.mobile-menu span:nth-child(3), .mobile-menu span:nth-child(4) {
    top: 13PX
}

.mobile-menu span:nth-child(5), .mobile-menu span:nth-child(6) {
    top: 25PX
}

.mobile-menu.open span:nth-child(1), .mobile-menu.open span:nth-child(6) {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
}

.mobile-menu.open span:nth-child(2), .mobile-menu.open span:nth-child(5) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.mobile-menu.open span:nth-child(1) {
    top: 7PX;
    opacity: 0
}

.mobile-menu.open span:nth-child(2) {
    top: 7PX;
    left: 50%;
    margin-left: -5PX;
    opacity: 0
}

.mobile-menu.open span:nth-child(3) {
    left: 0;
    width: 100%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-border-radius: .5625rem;
    border-radius: .5625rem
}

.mobile-menu.open span:nth-child(4) {
    left: 0;
    width: 100%;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-border-radius: .5625rem;
    border-radius: .5625rem
}

.mobile-menu.open span:nth-child(5) {
    top: 24.29PX;
    opacity: 0
}

.mobile-menu.open span:nth-child(6) {
    top: 24.29PX;
    left: 50%;
    margin-left: -5PX;
    opacity: 0
}

.mobile-menu-slide {
    position: fixed;
    z-index: 99;
    top: 0;
    bottom: 0;
    left: -100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    display: none;
    width: 100%;
    height: 100%;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    background-color: #000
}

.mobile-menu-slide__black, .mobile-menu-slide__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal
}

.mobile-menu-slide__black {
    height: 100%;
    width: 70%;
    background-color: #000;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: auto
}

.mobile-menu-slide__white {
    height: 100%;
    width: 30%;
    background-color: #fff
}

.mobile-menu-slide__logo {
    width: 175PX;
    height: auto;
    margin: 27PX 40PX 80PX
}

.mobile-menu-slide__link:after, .mobile-menu-slide__text:after {
    height: 2PX;
    position: relative;
    top: .3125rem;
    content: "";
    background: #ffc000
}

.mobile-menu-slide__logo-link {
    display: block
}

.mobile-menu-slide__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 5%;
    margin-bottom: 5.9375rem;
    margin-top: 8.75rem
}

.mobile-menu-slide__item {
    display: block;
    margin: 0 0 1.875rem;
    line-height: 1
}

.mobile-menu-slide__link {
    display: inline-block
}

.mobile-menu-slide__link:hover {
    color: #ffc000
}

.mobile-menu-slide__link:after {
    display: block;
    width: 0;
    margin: auto;
    -webkit-transition: width .3s linear;
    -o-transition: width .3s linear;
    transition: width .3s linear
}

.header-menu__item:before, .mobile-menu-slide__text:after {
    -webkit-transition: width .3s linear;
    -o-transition: width .3s linear
}

.mobile-menu-slide__link {
    text-decoration: none;
    color: #fff;
    font-size: 2.375rem
}

.mobile-menu-slide__link--active {
    text-decoration: none
}

.mobile-menu-slide__link--active:after {
    width: 100%
}

.mobile-menu-slide__nav {
    margin-left: 5%
}

.mobile-menu-slide__nav:first-of-type {
    margin-top: 40PX
}

.mobile-menu-slide__text {
    text-decoration: none;
    margin-bottom: 20PX;
    color: #fff;
    line-height: 1;
    font-size: 2.125rem;
    display: inline-block
}

.mobile-menu-slide__text:hover {
    color: #ffc000
}

.header-menu__item--active a, .header-menu__item:hover {
    color: #343434;
    text-decoration: none
}

.mobile-menu-slide__text:after {
    display: block;
    width: 0;
    margin: auto;
    transition: width .3s linear
}

.header, .header-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox
}

.header, .mobile-menu-slide__text--active:after {
    width: 100%
}

.mobile-menu-slide__text--active {
    text-decoration: none
}

.header {
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    background-color: #fff
}

.header-container {
    display: flex;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 95.3%;
    margin-right: 2.35%;
    margin-left: 2.35%;
    padding-top: 1.6875rem;
    padding-bottom: 1.25rem
}

.header-menu__list, .header-panel {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox
}

.header-logo {
    margin-top: auto;
    margin-bottom: auto
}

.header-logo__img {
    float: left;
    width: 8.125rem;
    height: 1.875rem;
    margin-right: 1.25rem
}

.header-logo__img[src="img/logo-185x45-white.png"] {
    width: 11.5625rem;
    height: 2.8125rem
}

.header-menu {
    margin: auto
}

.header-menu__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none
}

.header-menu__item--active:before, .header-menu__item:before {
    display: block;
    height: 2PX;
    content: "";
    background: #ffc000
}

.header-menu__item {
    margin-left: 2.0625rem;
    cursor: pointer;
    border-top: .125rem solid transparent;
    font-size: 1.4375rem
}

.header-menu__item:hover:before {
    width: 100%
}

.header-menu__item:before {
    width: 0;
    margin: auto;
    transition: width .3s linear
}

.header-menu__item--active:before {
    width: 100%;
    margin: auto;
    -webkit-transition: width .3s linear;
    -o-transition: width .3s linear;
    transition: width .3s linear
}

.cycle-slider__list, .header-panel__link {
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear
}

.header-menu__link {
    text-decoration: none;
    color: #8f8c8c;
    font-size: 1.5rem;
    line-height: 1
}

.header-menu__link:hover {
    color: #343434
}

.header-panel {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-flex: 2;
    -webkit-flex-grow: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
    margin: auto
}

.content, .cycle-slider__list, .shadow-wrap {
    -webkit-box-direction: normal
}

.header-panel__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none
}

.header-panel__item {
    position: relative;
    cursor: pointer;
    font-size: 1.3125rem
}

.header-panel__item:first-child {
    margin-right: .75rem;
    padding-right: 1.25rem
}

.header-panel__item:first-child:after {
    position: absolute;
    top: 0;
    right: 0;
    content: "\/";
    color: #8f8c8c
}

.content-text__p a:before, .header-panel__link:after {
    content: "";
    background: #ffc000;
    position: relative
}

.header-panel__link {
    padding-bottom: .375rem;
    transition: all .3s linear;
    text-decoration: none;
    color: #8f8c8c;
    font-weight: 400;
    line-height: 1
}

.content__h1, .header-panel__link--active, .header-panel__link:hover {
    color: #343434
}

.header-panel__link:hover:after {
    width: 100%
}

.header-panel__link:after {
    top: .25rem;
    display: block;
    width: 0;
    height: .0625rem;
    margin: auto;
    -webkit-transition: width .3s linear;
    -o-transition: width .3s linear;
    transition: width .3s linear
}

.header-panel__link--active:after {
    width: 100%
}

.content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
}

.content__h1 {
    margin: 15.375rem 0 3.75rem;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    line-height: .8;
    font-weight: 300;
}

.content__h1--golden {
    color: #ffc000
}

.content-text__p, .content-text__p a {
    color: #343434;
    font-family: "Halcom-Book", sans-serif
}

.content__h1--small {
    font-size: 4.25rem
}

.index-page .content-text {
    padding-top: 7.8125rem
}

.content-text__p {
    width: 90%;
    max-width: 62.5rem;
    margin: auto auto 2rem;
    font-size: 1.75rem;
    font-weight: 300;
    line-height: 1.36
}

.content-text__p a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    border-bottom: .125rem solid transparent;
    font-weight: 400;
    -webkit-transition: color .3s linear;
    -o-transition: color .3s linear;
    transition: color .3s linear
}

.content-text__p a:hover:before {
    width: 100%
}

.content-text__p a:before {
    top: 3rem;
    display: block;
    width: 0;
    height: .125rem;
    margin: auto;
    -webkit-transition: width .3s linear;
    -o-transition: width .3s linear;
    transition: width .3s linear
}

.content-text__p:last-child {
    margin-bottom: 4.25rem
}

.studio-page .content-text__p:last-child {
    margin-bottom: 0
}

.shadow-show, .slider {
    margin-bottom: 1.875rem
}

.slider {
    position: relative;
    width: 100%
}

.slider__list {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none
}

.slider__list .left-arrow, .slider__list .right-arrow {
    position: absolute;
    z-index: 4;
    width: 2.125rem;
    height: 100%;
    text-align: center;
    font-size: 2.5rem;
    fill: #fff;
    overflow: hidden;
    cursor: pointer;
    line-height: 1
}

.slider__list .right-arrow {
    right: 0;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    margin-right: .5rem;
    border: none;
    -webkit-border-radius: .5rem;
    border-radius: .5rem
}

.slider__list .left-arrow {
    left: 0;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    margin-left: .5rem;
    border: none;
    -webkit-border-radius: .5rem;
    border-radius: .5rem
}

.slider-main__img {
    width: 100%;
    height: auto
}

.slider__item {
    width: 100%
}

.slider-arrow {
    display: none
}

.slider-arrow svg {
    cursor: pointer;
    width: 1.875rem;
    height: 1.25rem
}

.cycle-slider {
    margin-bottom: 10%
}

.cycle-slider__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 100%;
    max-width: 67.5rem;
    margin: auto;
    padding: 0;
    list-style: none;
    transition: all .3s linear
}

.cycle-slider__item .slick-track:after, .cycle-slider__item.slick-current:after, .cycle-slider__item:after {
    display: block;
    height: 3PX;
    background-color: #ffc000;
    content: ""
}

.blocks__btn, .cycle-slider__list:hover .cycle-slider__item {
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear
}

.cycle-slider__list .slick-track {
    width: 100% !important
}

.cycle-slider__list:hover .cycle-slider__item {
    transition: all .3s linear;
    opacity: .2
}

.cycle-slider__item {
    position: relative;
    overflow: hidden;
    width: 10.25rem !important;
    margin: auto .4375rem auto auto;
    cursor: pointer;
    outline: 0
}

.cycle-slider__item:hover {
    opacity: 1 !important
}

.cycle-slider__item img {
    width: 100%
}

.cycle-slider__item:after {
    top: -.0625rem;
    width: 0;
    margin: .3125rem auto 0;
    -webkit-transition: .3s linear all;
    -o-transition: .3s linear all;
    transition: .3s linear all
}

.cycle-slider__item.slick-current:after {
    position: relative;
    width: 100%;
    margin-top: .3125rem
}

.shadow, .shadow-hide, .shadow-show, .visible {
    position: absolute
}

.cycle-slider__item .slick-track {
    width: 100%;
    max-width: 63.75rem
}

.cycle-slider__item .slick-track:after {
    position: absolute;
    width: 100%
}

.shadow-wrap, .visible {
    width: 100%;
    height: 100%
}

.cycle-slider__item:last-child {
    margin-right: 0
}

.visible {
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.shadow {
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none
}

.shadow-hide, .shadow-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox
}

.shadow-wrap {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #9cd0e2;
    background-color: rgba(156, 208, 226, .9)
}

.shadow__text {
    max-width: 56rem;
    margin: auto;
    word-spacing: .0625rem;
    color: #fff;
    font-family: "Halcom-Book", sans-serif;
    font-size: 1.85rem
}

.shadow-hide {
    z-index: 5;
    top: 0;
    right: 0;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
    min-height: 1.5625rem;
    padding: 1.25rem;
    cursor: pointer
}

.shadow-show, .shadow-show-button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox
}

.shadow-hide:hover svg {
    fill: #000
}

.shadow-hide svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: #fff
}

.shadow-show {
    bottom: 0;
    left: 0;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: 2.1875rem
}

.blocks__btn, .shadow-show__p {
    position: relative;
    cursor: pointer
}

.shadow-show--hidden {
    z-index: 10;
    display: none
}

.shadow-show--hidden svg {
    fill: #fff
}

.shadow-show__p {
    margin-bottom: .625rem;
    color: #fffefe;
    font-family: "Halcom-Book", sans-serif;
    font-size: 2.25rem
}

.shadow-show-button {
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    cursor: pointer;
    text-align: left
}

.blocks, .shadow-show-button__btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox
}

.blocks, .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal
}

.shadow-show-button__btn {
    display: flex;
    height: 2.3125rem;
    width: 2.3125rem;
    cursor: pointer
}

.shadow-show-button__btn svg {
    margin: auto;
    width: 2rem;
    height: 2rem
}

.shadow-show-button__text {
    margin-left: .6875rem;
    color: #fff;
    font-family: "Halcom-Book", sans-serif;
    font-size: 1rem;
    font-style: italic
}

.blocks-block__h3, .blocks__h2, .blocks__p {
    font-family: 'Montserrat', sans-serif
}

.plus {
    bottom: 0;
    left: 110%;
    width: 2.5rem;
    height: 100%;
    cursor: pointer
}

.blocks {
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
}

.blocks-items, .footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox
}

.blocks__h2 {
    margin: 0 0 1rem;
    text-align: center;
    color: #343434;
    font-size: 4.375rem;
    font-weight: 400;
    line-height: 1
}

.blocks__p {
    margin: 0 0 3.75rem;
    text-align: center;
    color: #343434;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.1
}

.blocks-block__h3, .blocks-block__p {
    text-align: left;
    color: #343434;
    font-style: normal
}

.blocks-items {
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around
}

.blocks-block {
    width: 44.525%
}

.blocks-block:first-child {
    margin-right: 3.125%;
    margin-left: 2.35%
}

.blocks-block:last-child {
    margin-right: 2.35%;
    margin-left: 3.125%
}

.blocks-block__img {
    display: block;
    width: 100%;
    height: auto;
    margin: auto
}

.blocks-block__h3 {
    margin: 3.1875rem 3.1875rem 1.25rem 2rem;
    font-size: 1.5625rem;
    font-weight: 500;
    line-height: 1
}

.blocks-block__p, .blocks__btn {
    font-family: "Halcom-Book", sans-serif;
    font-weight: 300
}

.blocks-block__p {
    margin-right: 3.1875rem;
    margin-bottom: .625rem;
    margin-left: 2rem;
    word-spacing: .0625rem;
    font-size: 1.35rem
}

.blocks__btn {
    display: block;
    max-width: 20rem;
    margin: 5.625rem auto 0;
    padding: 1.1875rem 3.125rem 1.375rem;
    transition: all .3s linear;
    color: #8f8c8c;
    border: 1PX solid #8f8c8c;
    background-color: transparent;
    font-size: 1.9rem;
    line-height: .7;
    text-decoration: none;
}

.footer-menu__item:before, .img-fade .refresh {
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear
}

.footer-menu__link, .footer-panel__link {
    font-family: "Halcom-Book", sans-serif;
    font-weight: 400;
    line-height: 1;
    text-decoration: none
}

.blocks__btn:hover {
    color: #343434;
    border-color: #ffc000
}

.img-fade .refresh {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2.625rem;
    height: 2.625rem;
    margin-top: -1.3125rem;
    margin-left: -1.3125rem;
    cursor: pointer;
    transition: all .3s linear;
    fill: #fff
}

.img-fade .refresh:hover {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}

.footer {
    display: flex;
    -webkit-flex-basis: auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    background-color: #000;
    margin-top: 12.5rem
}

.footer-rows {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    min-height: 1.875rem;
    margin: auto
}

.footer-rows:first-child {
    margin-bottom: 3%;
    padding-top: 4.2%
}

.footer-rows:nth-child(2) {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-right: 1.25rem;
    margin-bottom: 1.5625rem
}

.footer-rows__p {
    width: 100%;
    margin: 0 0 5PX;
    text-align: center;
    color: #fff;
    font-family: "Halcom-Book", sans-serif;
    font-size: 1.125rem
}

.footer-rows__p span {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    font-size: .9375rem
}

.footer-rows__link {
    position: relative;
    display: none
}

.footer-menu__list, .footer-panel {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox
}

.footer-menu__list {
    display: flex;
    margin: auto;
    padding: 0;
    list-style: none
}

.footer-menu__item {
    margin-left: 2.0625rem;
    cursor: pointer;
    font-size: 1.25rem
}

.footer-menu__item:hover {
    text-decoration: none
}

.footer-menu__item:hover:before {
    width: 100%
}

.footer-menu__item:before {
    display: block;
    width: 0;
    height: .0625rem;
    margin: auto auto .375rem;
    content: "";
    transition: all .3s linear;
    background-color: #ffc000
}

.footer-menu__item--active {
    text-decoration: none
}

.footer-menu__item--active:before {
    width: 100%
}

.footer-menu__link {
    color: #fff;
    font-size: 1.375rem
}

.footer-panel {
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.footer-panel--ma {
    margin: auto
}

.footer-panel--reset {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0
}

.footer-panel__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none
}

.footer-panel__item {
    position: relative;
    margin-right: 1.5625rem;
    padding-right: 2.125rem;
    cursor: pointer
}

.footer-panel__item:last-child {
    margin-right: 0;
    padding-right: 0
}

.footer-panel__item--18px:last-child {
    position: relative;
    top: .375rem;
    margin-right: 1.5625rem
}

.footer-panel__item--18px {
    margin-right: 1.25rem;
    font-size: 1.125rem
}

.footer-panel__item--18px:first-child:after {
    display: none
}

.footer-panel__item:first-child:after {
    position: absolute;
    top: -.125rem;
    right: 0;
    content: "\/";
    color: #fff;
    font-size: 1.875rem
}

.footer-panel__link {
    margin-right: 0;
    padding-top: .375rem;
    color: #fff;
    font-size: 2.0625rem
}

.footer-panel__link--18px, .footer-panel__link--mobile {
    font-size: 1rem
}

.footer-panel__link--mobile:hover:after {
    width: 0
}

.footer-panel__link--active:after, .footer-panel__link:hover:after {
    width: 100%
}

.footer-panel__link--active {
    text-decoration: none
}

.footer-panel__link:hover {
    text-decoration: none
}

.footer-panel__link:after {
    position: relative;
    top: .25rem;
    display: block;
    width: 0;
    height: .0625rem;
    margin: .375rem auto auto;
    content: "";
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    background-color: #ffc000
}

.about-page {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-flex-basis: auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto
}

@media (max-width: 992PX) {
    .content-text__p a:before, .header-menu, .header-panel {
        display: none
    }

    html {
        font-size: 2vw
    }

    .header-container {
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        width: 90%;
        height: 100%;
        margin: auto
    }

    .content__h1--small {
        font-size: 3.5rem
    }

    .shadow__text {
        padding-right: 3.125rem;
        padding-left: 3.125rem
    }
}

@media (max-width: 480PX) {
    .footer-menu__item:hover a, .footer-panel__link:hover {
        color: #ffc000
    }

    html {
        font-size: 3vw
    }

    .content__h1, .content__h1--small {
        font-size: 2.75rem
    }

    .shadow__text {
        font-size: 1.125rem
    }

    .footer-menu__item:hover:before {
        width: 0
    }

    .footer-panel__item:first-child:after {
        font-size: 1.75rem !important
    }

    .footer-panel__link--18px {
        margin-right: 0
    }

    .footer-panel__link:hover:after {
        width: 0 !important
    }

    .footer-panel--mobile .footer-panel__link {
        font-size: 1.75rem
    }
}

@media (min-width: 992PX) {
    .mobile-menu {
        display: none
    }

    .mobile-menu-slide {
        display: none !important
    }
}

@media (max-width: 768PX) {
    .footer-columns, .slider-arrow {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox
    }

    .mobile-menu {
        width: 27PX;
        height: 19PX
    }

    .mobile-menu span:nth-child(1), .mobile-menu span:nth-child(2) {
        top: 3PX
    }

    .mobile-menu span:nth-child(3), .mobile-menu span:nth-child(4) {
        top: 9PX
    }

    .mobile-menu span:nth-child(5), .mobile-menu span:nth-child(6) {
        top: 15PX
    }

    .content__h1--small {
        font-size: 3rem !important;
        line-height: 1.2
    }

    .content__h1 {
        font-size: 3rem;
        line-height: 1.2;
        margin: 150PX 0 3.75rem
    }

    .blocks__p, .slider-arrow {
        margin-bottom: 2.5rem
    }

    .content-text__p {
        font-size: 1.875rem
    }

    .content-text__p a:hover {
        color: #ffc000
    }

    .slider-arrow {
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center
    }

    .footer-columns, .footer-rows:nth-child(2) {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal
    }

    .slider .slick-arrow {
        display: none !important
    }

    .shadow__text {
        font-size: 1.5rem
    }

    .shadow-show__p {
        font-size: 2rem !important
    }

    .footer-columns {
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .footer-rows:first-child {
        padding-top: 0;
        margin-bottom: 50PX;
        margin-top: 40PX
    }

    .footer-rows:nth-child(2) {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-ordinal-group: 0;
        -webkit-order: -1;
        -ms-flex-order: -1;
        order: -1;
        margin: 40PX auto auto
    }

    .footer-rows--mobile {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between
    }

    .footer-rows__p span, .footer-rows__p span a {
        font-size: 1rem
    }

    .footer-rows__link {
        display: inline-block
    }

    .footer-menu {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 80%;
        margin: auto
    }

    .footer-menu__list {
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between
    }

    .footer-menu__item {
        font-size: .75rem
    }

    .footer-menu__item:first-child, .footer-menu__item:first-of-type {
        margin-left: 0
    }

    .footer-menu__link {
        font-size: 2.25rem
    }

    .footer-panel {
        margin: auto
    }

    .footer-panel--bottom {
        display: none
    }

    .footer-panel__item:first-child:after {
        font-size: 1.875rem
    }

    .footer-panel__link {
        font-size: 2.25rem
    }

    .footer-panel__link--mobile {
        margin-bottom: 1.25rem;
        font-size: 1.25rem
    }

    .footer-panel__link:hover:after {
        width: 100%
    }
}

@media (max-width: 48rem) {
    .index-page .content-text {
        padding-top: 5rem
    }

    .cycle-slider, .slider__list .left-arrow, .slider__list .right-arrow {
        display: none
    }

    .shadow-show {
        margin-bottom: .3125rem;
        margin-left: .9375rem
    }

    .shadow-show-button {
        margin-bottom: .625rem
    }

    .blocks__h2 {
        margin-top: 5rem
    }

    .blocks-items {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .blocks-block {
        width: 90%;
        margin: auto
    }

    .blocks-block:not(:first-child) {
        margin-top: 3.125rem
    }

    .blocks-block:first-child, .blocks-block:last-child {
        margin-right: auto;
        margin-left: auto
    }

    .blocks-block__h3 {
        font-size: 1.6875rem
    }

    .blocks-block__p {
        font-size: 1.4375rem
    }

    .blocks-block__p:last-child {
        margin-bottom: 3.75rem
    }

    .footer {
        margin-top: 6.25rem
    }
}

@media (min-width: 48rem) {
    .slider__list .left-arrow:hover, .slider__list .right-arrow:hover {
        fill: #000
    }

    .slider__list .right-arrow {
        margin-right: .9375rem
    }

    .slider__list .left-arrow {
        margin-left: .9375rem
    }
}

@media (max-width: 1080PX) {
    .shadow__text {
        font-size: 1.5rem
    }
}

@media (max-width: 68.75rem) {
    .shadow-show__p {
        font-size: 1.5625rem
    }
}

@media (max-width: 60.5rem) {
    .shadow-show__p {
        margin-bottom: .625rem;
        font-size: 1.25rem
    }
}

@media (max-width: 30rem) {
    .blocks__h2 {
        font-size: 2.875rem
    }

    .blocks__btn {
        font-size: 1.875rem
    }
}

@media (max-width: 640PX) {
    .footer-panel__item {
        font-size: .75rem
    }
}

@media (max-width: 768px) {
    .slider__list .left-arrow, .slider__list .right-arrow {
        display: none !important
    }
}