/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
button, hr, input {
    overflow: visible
}

audio, canvas, progress, video {
    display: inline-block
}

progress, sub, sup {
    vertical-align: baseline
}

body, html {
    height: 100%
}

html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section {
    display: block
}

h1 {
    font-size: 2em
}

figure {
    margin: 1em 2.5rem
}

hr {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0
}

code, kbd, pre, samp {
    font-family: monospace, monospace;
    font-size: 1em
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

abbr[title] {
    border-bottom: none;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

b, strong {
    font-weight: bolder
}

dfn {
    font-style: italic
}

mark {
    background-color: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

audio:not([controls]) {
    display: none;
    height: 0
}

img {
    border-style: none
}

svg:not(:root) {
    overflow: hidden
}

button, input, optgroup, select, textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button, select {
    text-transform: none
}

[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
    outline: ButtonText dotted .0625rem
}

fieldset {
    padding: .35em .75em .625em
}

legend {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

textarea {
    overflow: auto;
    resize: none
}

[type=checkbox], [type=radio] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -.125rem
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

img, picture {
    line-height: 0
}

.header-menu__link, .header-panel__link {
    font-family: "Halcom-Book", sans-serif;
    font-weight: 400
}

summary {
    display: list-item
}

[hidden], template {
    display: none
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0
}

:-moz-placeholder, :-ms-input-placeholder, ::-moz-placeholder, ::-webkit-input-placeholder {
    opacity: 1;
    color: #8f8c8c
}

:after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

html {
    font-size: 1vw
}

body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow-x: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 20rem;
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: "Halcom-Book", sans-serif;
    font-size: 1.125rem;
    line-height: 1.5
}

body input:focus:required:invalid, body input:required:valid, body textarea:focus:required:invalid, body textarea:required:valid {
    color: #8f8c8c
}

.content {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-flex-basis: auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    width: .0625rem;
    height: .0625rem;
    margin: -.0625rem;
    padding: 0;
    border: 0
}

img {
    width: 100%;
    height: auto
}

h1, h2, h3, h4, h5, h6, li, p, ul {
    margin: 0;
    padding: 0
}

picture {
    display: block
}

.golden {
    fill: #ffc000 !important
}

.pink {
    fill: #f99 !important
}

.mobile-menu {
    position: relative;
    width: 45PX;
    height: 28PX;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
    -webkit-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    z-index: 100
}

.mobile-menu span {
    position: absolute;
    display: block;
    width: 50%;
    height: 2PX;
    -webkit-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
    background: #000
}

.mobile-menu.open span {
    width: 60%
}

.mobile-menu span:nth-child(even) {
    left: 50%;
    -webkit-border-radius: 0 9PX 9PX 0;
    border-radius: 0 9PX 9PX 0
}

.mobile-menu span:nth-child(odd) {
    left: 0;
    -webkit-border-radius: 9PX 0 0 9PX;
    border-radius: 9PX 0 0 9PX
}

.mobile-menu span:nth-child(1), .mobile-menu span:nth-child(2) {
    top: .0625rem
}

.mobile-menu span:nth-child(3), .mobile-menu span:nth-child(4) {
    top: 13PX
}

.mobile-menu span:nth-child(5), .mobile-menu span:nth-child(6) {
    top: 25PX
}

.mobile-menu.open span:nth-child(1), .mobile-menu.open span:nth-child(6) {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
}

.mobile-menu.open span:nth-child(2), .mobile-menu.open span:nth-child(5) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.mobile-menu.open span:nth-child(1) {
    top: 7PX;
    opacity: 0
}

.mobile-menu.open span:nth-child(2) {
    top: 7PX;
    left: 50%;
    margin-left: -5PX;
    opacity: 0
}

.mobile-menu.open span:nth-child(3) {
    left: 0;
    width: 100%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-border-radius: .5625rem;
    border-radius: .5625rem
}

.mobile-menu.open span:nth-child(4) {
    left: 0;
    width: 100%;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-border-radius: .5625rem;
    border-radius: .5625rem
}

.mobile-menu.open span:nth-child(5) {
    top: 24.29PX;
    opacity: 0
}

.mobile-menu.open span:nth-child(6) {
    top: 24.29PX;
    left: 50%;
    margin-left: -5PX;
    opacity: 0
}

.mobile-menu-slide {
    position: fixed;
    z-index: 99;
    top: 0;
    bottom: 0;
    left: -100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    display: none;
    width: 100%;
    height: 100%;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    background-color: #000
}

.mobile-menu-slide__black, .mobile-menu-slide__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal
}

.mobile-menu-slide__black {
    height: 100%;
    width: 70%;
    background-color: #000;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: auto
}

.mobile-menu-slide__white {
    height: 100%;
    width: 30%;
    background-color: #fff
}

.mobile-menu-slide__logo {
    width: 175PX;
    height: auto;
    margin: 27PX 40PX 80PX
}

.mobile-menu-slide__link:after, .mobile-menu-slide__text:after {
    height: 2PX;
    position: relative;
    top: .3125rem;
    content: "";
    background: #ffc000
}

.mobile-menu-slide__logo-link {
    display: block
}

.mobile-menu-slide__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 5%;
    margin-bottom: 5.9375rem;
    margin-top: 8.75rem
}

.mobile-menu-slide__item {
    display: block;
    margin: 0 0 1.875rem;
    line-height: 1
}

.mobile-menu-slide__link {
    display: inline-block
}

.mobile-menu-slide__link:hover {
    color: #ffc000
}

.mobile-menu-slide__link:after {
    display: block;
    width: 0;
    margin: auto;
    -webkit-transition: width .3s linear;
    -o-transition: width .3s linear;
    transition: width .3s linear
}

.header-menu__item:before, .mobile-menu-slide__text:after {
    -webkit-transition: width .3s linear;
    -o-transition: width .3s linear
}

.mobile-menu-slide__link {
    text-decoration: none;
    color: #fff;
    font-size: 2.375rem
}

.mobile-menu-slide__link--active {
    text-decoration: none
}

.mobile-menu-slide__link--active:after {
    width: 100%
}

.mobile-menu-slide__nav {
    margin-left: 5%
}

.mobile-menu-slide__nav:first-of-type {
    margin-top: 40PX
}

.mobile-menu-slide__text {
    text-decoration: none;
    margin-bottom: 20PX;
    color: #fff;
    line-height: 1;
    font-size: 2.125rem;
    display: inline-block
}

.mobile-menu-slide__text:hover {
    color: #ffc000
}

.header-menu__item--active a, .header-menu__item:hover {
    color: #343434;
    text-decoration: none
}

.mobile-menu-slide__text:after {
    display: block;
    width: 0;
    margin: auto;
    transition: width .3s linear
}

.header, .header-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox
}

.header, .mobile-menu-slide__text--active:after {
    width: 100%
}

.mobile-menu-slide__text--active {
    text-decoration: none
}

.header {
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    background-color: #fff
}

.header-container {
    display: flex;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 95.3%;
    margin-right: 2.35%;
    margin-left: 2.35%;
    padding-top: 1.6875rem;
    padding-bottom: 1.25rem
}

.header-menu__list, .header-panel {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox
}

.header-logo {
    margin-top: auto;
    margin-bottom: auto
}

.header-logo__img {
    float: left;
    width: 8.125rem;
    height: 1.875rem;
    margin-right: 1.25rem
}

.header-logo__img[src="img/logo-185x45-white.png"] {
    width: 11.5625rem;
    height: 2.8125rem
}

.header-menu {
    margin: auto
}

.header-menu__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none
}

.header-menu__item--active:before, .header-menu__item:before {
    display: block;
    height: 2PX;
    content: "";
    background: #ffc000
}

.header-menu__item {
    margin-left: 2.0625rem;
    cursor: pointer;
    border-top: .125rem solid transparent;
    font-size: 1.4375rem
}

.header-menu__item:hover:before {
    width: 100%
}

.header-menu__item:before {
    width: 0;
    margin: auto;
    transition: width .3s linear
}

.header-menu__item--active:before {
    width: 100%;
    margin: auto;
    -webkit-transition: width .3s linear;
    -o-transition: width .3s linear;
    transition: width .3s linear
}

.header-panel__link, .works__next:before {
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear
}

.header-menu__link {
    text-decoration: none;
    color: #8f8c8c;
    font-size: 1.5rem;
    line-height: 1
}

.header-menu__link:hover {
    color: #343434
}

.header-panel {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-flex: 2;
    -webkit-flex-grow: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
    margin: auto
}

.coco-pink, .header-panel__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox
}

.header-panel__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none
}

.header-panel__item {
    position: relative;
    cursor: pointer;
    font-size: 1.3125rem
}

.header-panel__item:first-child {
    margin-right: .75rem;
    padding-right: 1.25rem
}

.grid-img, .grid-img img {
    padding-right: 1.175%;
    padding-left: 1.175%
}

.header-panel__item:first-child:after {
    position: absolute;
    top: 0;
    right: 0;
    content: "\/";
    color: #8f8c8c
}

.header-panel__link {
    padding-bottom: .375rem;
    transition: all .3s linear;
    text-decoration: none;
    color: #8f8c8c;
    line-height: 1
}

.header-panel__link--active, .header-panel__link:hover {
    color: #343434
}

.header-panel__link:hover:after {
    width: 100%
}

.header-panel__link:after {
    position: relative;
    top: .25rem;
    display: block;
    width: 0;
    height: .0625rem;
    margin: auto;
    content: "";
    -webkit-transition: width .3s linear;
    -o-transition: width .3s linear;
    transition: width .3s linear;
    background: #ffc000
}

.coco-pink__h1, .coco-pink__item a, .coco-pink__p {
    text-align: left;
    color: #fff;
    font-family: "Halcom-Book", sans-serif
}

.header-panel__link--active:after {
    width: 100%
}

.dot-1, .dot-2, .dot-3, .dot-4 {
    width: 1.875rem;
    height: 1.875rem;
    margin-right: 1.25rem;
    fill: #ffc000;
    position: relative
}

.coco__img {
    width: 100%;
    height: auto;
    margin-top: 11.25rem;
    margin-bottom: 2.75rem
}

.coco-pink {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 4.75rem
}

.coco-pink__h1 {
    width: 90%;
    max-width: 69.75rem;
    margin: 3.125rem auto;
    letter-spacing: .025rem;
    font-size: 2.75rem;
    line-height: 1
}

.coco-pink__list, .coco-pink__p {
    width: 90%;
    margin: auto auto 3.125rem;
    max-width: 69.75rem
}

.coco-pink__p {
    font-size: 1.5rem
}

.coco-pink__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.coco-pink__item {
    margin-right: 2.875rem
}

.coco-pink__item p {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.4375rem;
    color: #fff;
}

.blockquote cite, .blockquote q, .description__h2, .description__p {
    text-align: left;
    color: #343434
}

.coco__images {
    width: 100%;
    height: auto;
    margin-bottom: 2.75rem
}

.grid-img {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 6.25rem;
    line-height: 0
}

.grid-img img {
    width: 33.333%
}

.description {
    width: 90%;
    max-width: 69.75rem;
    margin: 12.5rem auto auto;
    padding-left: 7.25rem
}

.description__h2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    line-height: .8;
    margin-bottom: 1.75rem;
    position: relative;
    left: -3.125rem;
    text-transform: uppercase;
    font-family: "Halcom-Book", sans-serif;
    font-size: 2.25rem
}

.description hr {
    height: 1PX;
    margin-top: 0;
    margin-bottom: 2.125rem;
    border: none;
    background-color: #8f8c8c
}

.description__p {
    width: 90%;
    max-width: 62.5rem;
    margin-bottom: 5.9375rem;
    font-family: "Halcom-Book", sans-serif;
    font-size: 1.5rem
}

.gallery {
    line-height: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 2.35%
}

.footer, .grid-images {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal
}

.full-img {
    width: 100%;
    margin-bottom: 2.35%
}

.full-img--half {
    width: calc(50% - 1.175%)
}

.full-img--third {
    width: 31.7%
}

.grid {
    width: 90%;
    margin: auto
}

.grid img {
    width: 40%;
    height: auto;
    margin: 5%
}

.grid-images {
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
}

.grid-images__row {
    width: 90%;
    max-width: 115rem;
    margin: auto
}

.grid-images img {
    width: 100%;
    height: auto
}

.grid-images .full-img {
    margin: auto
}

.grid-images__50 {
    width: 50%
}

.blockquote {
    width: 90%;
    max-width: 63rem;
    margin: 10.375rem auto 11.75rem;
}

.blockquote q {
    display: block;
    margin-bottom: 3.75rem;
    font-family: montserrat,sans-serif;
    font-size: 2.1rem;
    font-weight: 300;
    font-style: italic;
    line-height: 1.35;
}

.blockquote cite, .works__link, .works__next:before, .works__share {
    font-family: "Halcom-Book", sans-serif
}

.blockquote cite {
    display: block;
    font-size: 1.5rem;
    font-style: normal;
    line-height: 1.3
}

.q {
    quotes: none
}

.q__before {
    height: 100%;
    position: relative
}

.q__after, .q__after svg, .q__before svg {
    width: 1.5rem;
    height: 1rem
}

.q__before svg {
    margin-left: -2.625rem;
    position: absolute;
    top: .3125rem
}

.q__after {
    line-height: 0;
    position: relative
}

.q__after svg {
    margin-left: 1.125rem;
    position: absolute;
    bottom: .3125rem
}

.works {
    position: relative;
    margin-top: 11rem;
    margin-bottom: 1.75rem;
    color: #8f8c8c
}

.works__link {
    z-index: 2;
    display: block;
    margin-bottom: 2.5rem;
    text-align: center;
    color: inherit;
    font-size: 3.125rem;
    font-weight: 300
}

.works .left-arrow, .works .right-arrow {
    z-index: 5;
    top: 50%;
    width: 2.375rem;
    height: 4.5rem;
    fill: #8f8c8c;
    position: absolute;
    margin-top: -1.875rem;
    cursor: pointer
}

.works__link a {
    text-decoration: none;
    color: inherit;
    font-size: 3.375rem;
    margin-left: 10px
}

.works__link a:hover {
    color: #343434;
    cursor: pointer
}

.works__share {
    text-align: center;
    text-decoration: none;
    word-spacing: .4375rem;
    font-size: 1.25rem
}

.works__share a {
    text-decoration: none;
    color: inherit
}

.works__share a:hover {
    color: #343434;
    cursor: pointer
}

.works .left-arrow {
    left: 0;
    margin-left: 1.5625rem
}

.works .right-arrow {
    right: 0;
    margin-right: 1.5625rem
}

.works__next:hover svg, .works__prev:hover svg {
    fill: #343434
}

.works__next {
    color: #8f8c8c
}

.works__next:hover {
    color: gray
}

.works__next:hover:before {
    visibility: visible;
    opacity: 1
}

.works__next:before {
    position: absolute;
    top: 52%;
    right: 2.5rem;
    font-size: 1.25rem;
    display: block;
    margin-top: -1.875rem;
    padding: 1.25rem 2.5rem 1.25rem 1.25rem;
    content: "Next";
    transition: all .3s linear;
    line-height: 1.25rem;
    opacity: 0;
    color: #343434
}

.footer-menu__item:before, .works__prev:after {
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear
}

.works__prev {
    color: #8f8c8c
}

.works__prev:hover {
    color: gray
}

.works__prev:hover:after {
    visibility: visible;
    opacity: 1
}

.works__prev:after {
    position: absolute;
    top: 54%;
    left: 2.5rem;
    display: block;
    margin-top: -1.875rem;
    padding: 1.25rem 1.25rem 1.25rem 2.5rem;
    content: "Previous";
    transition: all .3s linear;
    line-height: 1.25rem;
    font-size: 1.25rem;
    opacity: 0;
    color: #343434;
    font-family: "Halcom-Book", sans-serif
}

.footer-menu__link, .footer-panel__link {
    font-family: "Halcom-Book", sans-serif;
    font-weight: 400;
    line-height: 1;
    text-decoration: none
}

.footer {
    display: flex;
    -webkit-flex-basis: auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    background-color: #000;
    margin-top: 12.5rem
}

.footer-rows {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    min-height: 1.875rem;
    margin: auto
}

.footer-rows:first-child {
    margin-bottom: 3%;
    padding-top: 4.2%
}

.footer-rows:nth-child(2) {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-right: 1.25rem;
    margin-bottom: 1.5625rem
}

.footer-rows__p {
    width: 100%;
    margin: 0 0 5PX;
    text-align: center;
    color: #fff;
    font-family: "Halcom-Book", sans-serif;
    font-size: 1.125rem
}

.footer-rows__p span {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    font-size: .9375rem
}

.footer-rows__link {
    position: relative;
    display: none
}

.footer-menu__list, .footer-panel {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox
}

.footer-menu__list {
    display: flex;
    margin: auto;
    padding: 0;
    list-style: none
}

.footer-menu__item {
    margin-left: 2.0625rem;
    cursor: pointer;
    font-size: 1.25rem
}

.footer-menu__item:hover {
    text-decoration: none
}

.footer-menu__item:hover:before {
    width: 100%
}

.footer-menu__item:before {
    display: block;
    width: 0;
    height: .0625rem;
    margin: auto auto .375rem;
    content: "";
    transition: all .3s linear;
    background-color: #ffc000
}

.footer-menu__item--active {
    text-decoration: none
}

.footer-menu__item--active:before {
    width: 100%
}

.footer-menu__link {
    color: #fff;
    font-size: 1.375rem
}

.footer-panel {
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.footer-panel--ma {
    margin: auto
}

.footer-panel--reset {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0
}

.footer-panel__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none
}

.footer-panel__item {
    position: relative;
    margin-right: 1.5625rem;
    padding-right: 2.125rem;
    cursor: pointer
}

.footer-panel__item:last-child {
    margin-right: 0;
    padding-right: 0
}

.footer-panel__item--18px:last-child {
    position: relative;
    top: .375rem;
    margin-right: 1.5625rem
}

.footer-panel__item--18px {
    margin-right: 1.25rem;
    font-size: 1.125rem
}

.footer-panel__item--18px:first-child:after {
    display: none
}

.footer-panel__item:first-child:after {
    position: absolute;
    top: -.125rem;
    right: 0;
    content: "\/";
    color: #fff;
    font-size: 1.875rem
}

.footer-panel__link {
    margin-right: 0;
    padding-top: .375rem;
    color: #fff;
    font-size: 2.0625rem
}

.footer-panel__link--18px, .footer-panel__link--mobile {
    font-size: 1rem
}

.footer-panel__link--mobile:hover:after {
    width: 0
}

.footer-panel__link--active:after, .footer-panel__link:hover:after {
    width: 100%
}

.footer-panel__link--active {
    text-decoration: none
}

.footer-panel__link:hover {
    text-decoration: none
}

.footer-panel__link:after {
    position: relative;
    top: .25rem;
    display: block;
    width: 0;
    height: .0625rem;
    margin: .375rem auto auto;
    content: "";
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    background-color: #ffc000
}

.work-page {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-flex-basis: auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto
}

@media (max-width: 992PX) {
    html {
        font-size: 2vw
    }

    .header-container {
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        width: 90%;
        height: 100%;
        margin: auto
    }

    .header-menu, .header-panel {
        display: none
    }

    .coco-pink__list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        line-height: 2
    }

    .description {
        padding-left: 0
    }

    .description__p {
        width: 100%
    }

    .blockquote {
        width: 80%
    }

    .blockquote q {
        font-size: 2.625rem
    }

    .grid-img img {
        width: 100%;
        margin-bottom: 30px
    }
}

@media (max-width: 480PX) {
    .footer-menu__item:hover a, .footer-panel__link:hover {
        color: #ffc000
    }

    html {
        font-size: 3vw
    }

    .works__next {
        right: 35%
    }

    .works__prev {
        left: 35%
    }

    .footer-menu__item:hover:before {
        width: 0
    }

    .footer-panel__item:first-child:after {
        font-size: 1.75rem !important
    }

    .footer-panel__link--18px {
        margin-right: 0
    }

    .footer-panel__link:hover:after {
        width: 0 !important
    }

    .footer-panel--mobile .footer-panel__link {
        font-size: 1.75rem
    }
}

@media (min-width: 992PX) {
    .mobile-menu {
        display: none
    }

    .mobile-menu-slide {
        display: none !important
    }
}

@media (max-width: 768PX) {
    .footer-columns, .works {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        -webkit-flex-direction: column
    }

    .footer-columns, .footer-rows:nth-child(2), .works {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal
    }

    .footer-columns, .footer-rows--mobile, .footer-rows:nth-child(2), .works {
        -webkit-box-direction: normal
    }

    .mobile-menu {
        width: 27PX;
        height: 19PX
    }

    .mobile-menu span:nth-child(1), .mobile-menu span:nth-child(2) {
        top: 3PX
    }

    .mobile-menu span:nth-child(3), .mobile-menu span:nth-child(4) {
        top: 9PX
    }

    .mobile-menu span:nth-child(5), .mobile-menu span:nth-child(6) {
        top: 15PX
    }

    .works {
        margin-top: 6.25rem;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .works__item {
        -webkit-box-ordinal-group: 0;
        -webkit-order: -1;
        -ms-flex-order: -1;
        order: -1;
        margin-bottom: 7rem
    }

    .works__link {
        margin-bottom: 1.5625rem;
        font-size: 2rem
    }

    .works__link a {
        font-size: 2.375rem
    }

    .works .left-arrow, .works .right-arrow {
        position: static;
        margin: 0;
        display: -webkit-inline-box;
        display: -webkit-inline-flex;
        display: -ms-inline-flexbox;
        display: inline-flex
    }

    .works__next, .works__prev {
        position: absolute;
        bottom: 0
    }

    .works__next:before, .works__prev:after {
        display: none
    }

    .works__next {
        right: 35%
    }

    .works__prev {
        left: 40%
    }

    .footer-columns {
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .footer-rows:first-child {
        padding-top: 0;
        margin-bottom: 50PX;
        margin-top: 40PX
    }

    .footer-rows:nth-child(2) {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-ordinal-group: 0;
        -webkit-order: -1;
        -ms-flex-order: -1;
        order: -1;
        margin: 40PX auto auto
    }

    .footer-rows--mobile {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between
    }

    .footer-rows__p span, .footer-rows__p span a {
        font-size: 1rem
    }

    .footer-rows__link {
        display: inline-block
    }

    .footer-menu {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 80%;
        margin: auto
    }

    .footer-menu__list {
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between
    }

    .footer-menu__item {
        font-size: .75rem
    }

    .footer-menu__item:first-child, .footer-menu__item:first-of-type {
        margin-left: 0
    }

    .footer-menu__link {
        font-size: 2.25rem
    }

    .footer-panel {
        margin: auto
    }

    .footer-panel--bottom {
        display: none
    }

    .footer-panel__item:first-child:after {
        font-size: 1.875rem
    }

    .footer-panel__link {
        font-size: 2.25rem
    }

    .footer-panel__link--mobile {
        margin-bottom: 1.25rem;
        font-size: 1.25rem
    }

    .footer-panel__link:hover:after, .full-img, .full-img--half, .full-img--third {
        width: 100%
    }
}

@media (max-width: 62rem) {
    .description__h2 {
        margin-left: 3.125rem
    }
}

@media (max-width: 48rem) {
    .q__before svg {
        margin-left: -2.25rem
    }

    .q__after svg {
        margin-left: .875rem
    }

    .works__share {
        font-size: 1.125rem
    }

    .footer {
        margin-top: 6.25rem
    }
}

@media (max-width: 640PX) {
    .footer-panel__item {
        font-size: .75rem
    }
}