/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
button, hr, input {
    overflow: visible
}

audio, canvas, progress, video {
    display: inline-block
}

progress, sub, sup {
    vertical-align: baseline
}

body, html {
    height: 100%
}

html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section {
    display: block
}

h1 {
    font-size: 2em
}

figure {
    margin: 1em 2.5rem
}

hr {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0
}

code, kbd, pre, samp {
    font-family: monospace, monospace;
    font-size: 1em
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

abbr[title] {
    border-bottom: none;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

b, strong {
    font-weight: bolder
}

dfn {
    font-style: italic
}

mark {
    background-color: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

audio:not([controls]) {
    display: none;
    height: 0
}

img {
    border-style: none
}

svg:not(:root) {
    overflow: hidden
}

button, input, optgroup, select, textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button, select {
    text-transform: none
}

[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
    outline: ButtonText dotted .0625rem
}

fieldset {
    padding: .35em .75em .625em
}

legend {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

textarea {
    overflow: auto;
    resize: none
}

[type=checkbox], [type=radio] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -.125rem
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

img, picture {
    line-height: 0
}

.header-menu__link, .header-panel__link, .nav .button, body {
    font-family: "Halcom-Book", sans-serif
}

summary {
    display: list-item
}

[hidden], template {
    display: none
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0
}

:-moz-placeholder, :-ms-input-placeholder, ::-moz-placeholder, ::-webkit-input-placeholder {
    opacity: 1;
    color: #8f8c8c
}

:after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

html {
    font-size: 1vw
}

body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow-x: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 20rem;
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-size: 1.125rem;
    line-height: 1.5
}

body input:focus:required:invalid, body input:required:valid, body textarea:focus:required:invalid, body textarea:required:valid {
    color: #8f8c8c
}

.content {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-flex-basis: auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    width: .0625rem;
    height: .0625rem;
    margin: -.0625rem;
    padding: 0;
    border: 0
}

img {
    width: 100%;
    height: auto
}

h1, h2, h3, h4, h5, h6, li, p, ul {
    margin: 0;
    padding: 0
}

picture {
    display: block
}

.golden {
    fill: #ffc000 !important
}

.pink {
    fill: #f99 !important
}

.mobile-menu {
    position: relative;
    width: 45PX;
    height: 28PX;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
    -webkit-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    z-index: 100
}

.mobile-menu span {
    position: absolute;
    display: block;
    width: 50%;
    height: 2PX;
    -webkit-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
    background: #000
}

.mobile-menu.open span {
    width: 60%
}

.mobile-menu span:nth-child(even) {
    left: 50%;
    -webkit-border-radius: 0 9PX 9PX 0;
    border-radius: 0 9PX 9PX 0
}

.mobile-menu span:nth-child(odd) {
    left: 0;
    -webkit-border-radius: 9PX 0 0 9PX;
    border-radius: 9PX 0 0 9PX
}

.mobile-menu span:nth-child(1), .mobile-menu span:nth-child(2) {
    top: .0625rem
}

.mobile-menu span:nth-child(3), .mobile-menu span:nth-child(4) {
    top: 13PX
}

.mobile-menu span:nth-child(5), .mobile-menu span:nth-child(6) {
    top: 25PX
}

.mobile-menu.open span:nth-child(1), .mobile-menu.open span:nth-child(6) {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
}

.mobile-menu.open span:nth-child(2), .mobile-menu.open span:nth-child(5) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.mobile-menu.open span:nth-child(1) {
    top: 7PX;
    opacity: 0
}

.mobile-menu.open span:nth-child(2) {
    top: 7PX;
    left: 50%;
    margin-left: -5PX;
    opacity: 0
}

.mobile-menu.open span:nth-child(3) {
    left: 0;
    width: 100%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-border-radius: .5625rem;
    border-radius: .5625rem
}

.mobile-menu.open span:nth-child(4) {
    left: 0;
    width: 100%;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-border-radius: .5625rem;
    border-radius: .5625rem
}

.mobile-menu.open span:nth-child(5) {
    top: 24.29PX;
    opacity: 0
}

.mobile-menu.open span:nth-child(6) {
    top: 24.29PX;
    left: 50%;
    margin-left: -5PX;
    opacity: 0
}

.mobile-menu-slide {
    position: fixed;
    z-index: 99;
    top: 0;
    bottom: 0;
    left: -100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    display: none;
    width: 100%;
    height: 100%;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    background-color: #000
}

.mobile-menu-slide__black, .mobile-menu-slide__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal
}

.mobile-menu-slide__black {
    height: 100%;
    width: 70%;
    background-color: #000;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: auto
}

.mobile-menu-slide__white {
    height: 100%;
    width: 30%;
    background-color: #fff
}

.mobile-menu-slide__logo {
    width: 175PX;
    height: auto;
    margin: 27PX 40PX 80PX
}

.mobile-menu-slide__link:after, .mobile-menu-slide__text:after {
    height: 2PX;
    position: relative;
    top: .3125rem;
    content: "";
    background: #ffc000
}

.mobile-menu-slide__logo-link {
    display: block
}

.mobile-menu-slide__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 5%;
    margin-bottom: 5.9375rem;
    margin-top: 8.75rem
}

.header-container, .header-panel, .nav .btn-wrap {
    -webkit-box-orient: horizontal
}

.mobile-menu-slide__item {
    display: block;
    margin: 0 0 1.875rem;
    line-height: 1
}

.mobile-menu-slide__link {
    display: inline-block
}

.mobile-menu-slide__link:hover {
    color: #ffc000
}

.mobile-menu-slide__link:after {
    display: block;
    width: 0;
    margin: auto;
    -webkit-transition: width .3s linear;
    -o-transition: width .3s linear;
    transition: width .3s linear
}

.header-menu__item:before, .mobile-menu-slide__text:after {
    -webkit-transition: width .3s linear;
    -o-transition: width .3s linear
}

.mobile-menu-slide__link {
    text-decoration: none;
    color: #fff;
    font-size: 2.375rem
}

.mobile-menu-slide__link--active {
    text-decoration: none
}

.mobile-menu-slide__link--active:after {
    width: 100%
}

.mobile-menu-slide__nav {
    margin-left: 5%
}

.mobile-menu-slide__nav:first-of-type {
    margin-top: 40PX
}

.mobile-menu-slide__text {
    text-decoration: none;
    margin-bottom: 20PX;
    color: #fff;
    line-height: 1;
    font-size: 2.125rem;
    display: inline-block
}

.mobile-menu-slide__text:hover {
    color: #ffc000
}

.header-menu__item--active a, .header-menu__item:hover {
    color: #343434;
    text-decoration: none
}

.mobile-menu-slide__text:after {
    display: block;
    width: 0;
    margin: auto;
    transition: width .3s linear
}

.header, .header-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox
}

.header, .mobile-menu-slide__text--active:after {
    width: 100%
}

.mobile-menu-slide__text--active {
    text-decoration: none
}

.header {
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    background-color: #fff
}

.header-container {
    display: flex;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 95.3%;
    margin-right: 2.35%;
    margin-left: 2.35%;
    padding-top: 1.6875rem;
    padding-bottom: 1.25rem
}

.header-menu__list, .header-panel {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox
}

.header-logo {
    margin-top: auto;
    margin-bottom: auto
}

.header-logo__img {
    float: left;
    width: 8.125rem;
    height: 1.875rem;
    margin-right: 1.25rem
}

.header-logo__img[src="img/logo-185x45-white.png"] {
    width: 11.5625rem;
    height: 2.8125rem
}

.header-menu {
    margin: auto
}

.header-menu__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none
}

.header-menu__item--active:before, .header-menu__item:before {
    display: block;
    height: 2PX;
    content: "";
    background: #ffc000
}

.header-menu__item {
    margin-left: 2.0625rem;
    cursor: pointer;
    border-top: .125rem solid transparent;
    font-size: 1.4375rem
}

.header-menu__item:hover:before {
    width: 100%
}

.header-menu__item:before {
    width: 0;
    margin: auto;
    transition: width .3s linear
}

.header-menu__item--active:before {
    width: 100%;
    margin: auto;
    -webkit-transition: width .3s linear;
    -o-transition: width .3s linear;
    transition: width .3s linear
}

.header-menu__link {
    text-decoration: none;
    color: #8f8c8c;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1
}

.header-menu__link:hover {
    color: #343434
}

.header-panel {
    display: flex;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-flex: 2;
    -webkit-flex-grow: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
    margin: auto
}

.header-panel__list, .nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox
}

.header-panel__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none
}

.header-panel__item {
    position: relative;
    cursor: pointer;
    font-size: 1.3125rem
}

.header-panel__item:first-child {
    margin-right: .75rem;
    padding-right: 1.25rem
}

.header-panel__item:first-child:after {
    position: absolute;
    top: 0;
    right: 0;
    content: "\/";
    color: #8f8c8c
}

.header-panel__link {
    padding-bottom: .375rem;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    text-decoration: none;
    color: #8f8c8c;
    font-weight: 400;
    line-height: 1
}

.header-panel__link--active, .header-panel__link:hover {
    color: #343434
}

.header-panel__link:hover:after {
    width: 100%
}

.header-panel__link:after {
    position: relative;
    top: .25rem;
    display: block;
    width: 0;
    height: .0625rem;
    margin: auto;
    content: "";
    -webkit-transition: width .3s linear;
    -o-transition: width .3s linear;
    transition: width .3s linear;
    background: #ffc000
}

.header-panel__link--active:after {
    width: 100%
}

.work-main {
    position: relative;
    margin-top: 200PX
}

.nav {
    margin-bottom: 2.1875rem;
    text-align: center;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.footer, .nav .btn-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -webkit-box-direction: normal
}

.nav li {
    padding: .625rem 1.25rem;
    list-style: none
}

.nav li:first-child {
    margin-left: 0
}

.nav .button {
    position: relative;
    z-index: 1;
    margin-left: 2.5rem;
    margin-top: .625rem;
    padding: .1875rem .625rem .3125rem;
    cursor: pointer;
    color: #8f8c8c;
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    font-weight: 300;
    text-decoration: none
}

.nav .button.active:after, .nav .button:hover:after {
    border-top: 1PX solid #ffc000;
    border-right: 1PX solid #ffc000
}

.nav .button.active:before, .nav .button:hover:before {
    border-bottom: 1PX solid #ffc000;
    border-left: 1PX solid #ffc000
}

.nav .button:hover {
    text-decoration: none;
    color: #343434
}

.nav .button.active {
    color: #343434
}

.nav .button.active:after, .nav .button.active:before {
    visibility: visible;
    width: 100%;
    height: 100%;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    opacity: 1
}

.nav .button:after, .nav .button:before {
    position: absolute;
    z-index: -1;
    visibility: hidden;
    -webkit-box-sizing: border-box;
    width: 0;
    height: 0;
    opacity: 0;
    content: ""
}

.nav .button:after {
    top: 0;
    right: 0;
    box-sizing: border-box
}

.nav .button:before {
    bottom: 0;
    left: 0;
    box-sizing: border-box
}

.isotope, .isotope .item, .isotope .item-wrap {
    position: relative
}

.nav .button:hover:after, .nav .button:hover:before {
    visibility: visible;
    opacity: 1;
    width: 100%;
    height: 100%
}

.nav .button:hover:after, .nav .button:hover:before {
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s
}

.footer-menu__item:before, .isotope .item:hover {
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear
}

.nav .btn-wrap {
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.isotope, .isotope .item:hover .item-wrap > .div, .item-info {
    display: block
}

.isotope {
    margin: 1.175%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.isotope .item {
    display: block;
    float: left;
    width: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 1.175%;
    line-height: 0
}

.isotope .item:hover {
    transition: all .3s linear
}

.item-info {
    width: 100%;
    height: 100%
}

.isotope .item-wrap > .div {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(156, 208, 226, .8)
}

.isotope .item-name, .isotope .item-tags {
    position: absolute;
    display: block;
    text-align: center;
    width: 100%
}

.isotope .item-name {
    top: 42%;
    text-decoration: none;
    color: #fff;
    font-size: 2.3vw;
    font-weight: 600
}

.footer-menu__link, .footer-panel__link {
    color: #fff;
    font-family: "Halcom-Book", sans-serif;
    font-weight: 400;
    line-height: 1;
    text-decoration: none
}

.isotope .item-tags {
    top: 54%;
    text-decoration: none;
    color: #fff;
    font-size: 1.4vw
}

.footer {
    display: flex;
    -webkit-flex-basis: auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    background-color: #000;
    margin-top: 12.5rem
}

.footer-rows {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    min-height: 1.875rem;
    margin: auto
}

.footer-rows:first-child {
    margin-bottom: 3%;
    padding-top: 4.2%
}

.footer-rows:nth-child(2) {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-right: 1.25rem;
    margin-bottom: 1.5625rem
}

.footer-rows__p {
    width: 100%;
    margin: 0 0 5PX;
    text-align: center;
    color: #fff;
    font-family: "Halcom-Book", sans-serif;
    font-size: 1.125rem
}

.footer-rows__p span {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    font-size: .9375rem
}

.footer-rows__link {
    position: relative;
    display: none
}

.footer-menu__list, .footer-panel {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox
}

.footer-menu__list {
    display: flex;
    margin: auto;
    padding: 0;
    list-style: none
}

.footer-menu__item {
    margin-left: 2.0625rem;
    cursor: pointer;
    font-size: 1.25rem
}

.footer-menu__item:hover {
    text-decoration: none
}

.footer-menu__item:hover:before {
    width: 100%
}

.footer-menu__item:before {
    display: block;
    width: 0;
    height: .0625rem;
    margin: auto auto .375rem;
    content: "";
    transition: all .3s linear;
    background-color: #ffc000
}

.footer-menu__item--active {
    text-decoration: none
}

.footer-menu__item--active:before {
    width: 100%
}

.footer-menu__link {
    font-size: 1.375rem
}

.footer-panel {
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.footer-panel--ma {
    margin: auto
}

.footer-panel--reset {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0
}

.footer-panel__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none
}

.footer-panel__item {
    position: relative;
    margin-right: 1.5625rem;
    padding-right: 2.125rem;
    cursor: pointer
}

.footer-panel__item:last-child {
    margin-right: 0;
    padding-right: 0
}

.footer-panel__item--18px:last-child {
    position: relative;
    top: .375rem;
    margin-right: 1.5625rem
}

.footer-panel__item--18px {
    margin-right: 1.25rem;
    font-size: 1.125rem
}

.footer-panel__item--18px:first-child:after {
    display: none
}

.footer-panel__item:first-child:after {
    position: absolute;
    top: -.125rem;
    right: 0;
    content: "\/";
    color: #fff;
    font-size: 1.875rem
}

.footer-panel__link {
    margin-right: 0;
    padding-top: .375rem;
    font-size: 2.0625rem
}

.footer-panel__link--18px, .footer-panel__link--mobile {
    font-size: 1rem
}

.footer-panel__link--mobile:hover:after {
    width: 0
}

.footer-panel__link--active:after, .footer-panel__link:hover:after {
    width: 100%
}

.footer-panel__link--active {
    text-decoration: none
}

.footer-panel__link:hover {
    text-decoration: none
}

.footer-panel__link:after {
    position: relative;
    top: .25rem;
    display: block;
    width: 0;
    height: .0625rem;
    margin: .375rem auto auto;
    content: "";
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    background-color: #ffc000
}

.work-main-page {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-flex-basis: auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto
}

@media (max-width: 992PX) {
    html {
        font-size: 2vw
    }

    .header-container {
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        width: 90%;
        height: 100%;
        margin: auto
    }

    .header-menu, .header-panel {
        display: none
    }
}

@media (max-width: 480PX) {
    .footer-menu__item:hover a, .footer-panel__link:hover {
        color: #ffc000
    }

    html {
        font-size: 3vw
    }

    .footer-menu__item:hover:before {
        width: 0
    }

    .footer-panel__item:first-child:after {
        font-size: 1.75rem !important
    }

    .footer-panel__link--18px {
        margin-right: 0
    }

    .footer-panel__link:hover:after {
        width: 0 !important
    }

    .footer-panel--mobile .footer-panel__link {
        font-size: 1.75rem
    }
}

@media (min-width: 992PX) {
    .mobile-menu {
        display: none
    }

    .mobile-menu-slide {
        display: none !important
    }
}

@media (max-width: 768PX) {
    .footer-columns, .nav {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox
    }

    .footer-columns, .footer-rows:nth-child(2) {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal
    }

    .mobile-menu {
        width: 27PX;
        height: 19PX
    }

    .mobile-menu span:nth-child(1), .mobile-menu span:nth-child(2) {
        top: 3PX
    }

    .mobile-menu span:nth-child(3), .mobile-menu span:nth-child(4) {
        top: 9PX
    }

    .mobile-menu span:nth-child(5), .mobile-menu span:nth-child(6) {
        top: 15PX
    }

    .work-main {
        margin-top: 9.375rem
    }

    .nav {
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center
    }

    .nav li {
        margin-right: 1.25rem;
        margin-left: 1.25rem
    }

    .nav li:first-child {
        width: 100%;
        margin-right: 40%;
        margin-left: 40%
    }

    .nav .button {
        margin: 1.25rem
    }

    .isotope {
        margin-right: 2.35%;
        margin-left: 2.35%
    }

    .isotope .item {
        width: 100%;
        padding-right: 0;
        padding-left: 0;
        padding-bottom: 2.55%
    }

    .isotope .item-name {
        top: 35%;
        font-size: 6vw
    }

    .isotope .item-tags {
        font-size: 4vw
    }

    .footer-columns {
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .footer-rows:first-child {
        padding-top: 0;
        margin-bottom: 50PX;
        margin-top: 40PX
    }

    .footer-rows:nth-child(2) {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-ordinal-group: 0;
        -webkit-order: -1;
        -ms-flex-order: -1;
        order: -1;
        margin: 40PX auto auto
    }

    .footer-rows--mobile {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between
    }

    .footer-rows__p span, .footer-rows__p span a {
        font-size: 1rem
    }

    .footer-rows__link {
        display: inline-block
    }

    .footer-menu {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 80%;
        margin: auto
    }

    .footer-menu__list {
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between
    }

    .footer-menu__item {
        font-size: .75rem
    }

    .footer-menu__item:first-child, .footer-menu__item:first-of-type {
        margin-left: 0
    }

    .footer-menu__link {
        font-size: 2.25rem
    }

    .footer-panel {
        margin: auto
    }

    .footer-panel--bottom {
        display: none
    }

    .footer-panel__item:first-child:after {
        font-size: 1.875rem
    }

    .footer-panel__link {
        font-size: 2.25rem
    }

    .footer-panel__link--mobile {
        margin-bottom: 1.25rem;
        font-size: 1.25rem
    }

    .footer-panel__link:hover:after {
        width: 100%
    }
}

@media (min-width: 768PX) {
    .nav .button:first-child {
        margin-left: 0
    }
}

@media (max-width: 48rem) {
    .footer {
        margin-top: 6.25rem
    }
}

@media (max-width: 640PX) {
    .footer-panel__item {
        font-size: .75rem
    }
}